:root {
  --block-width: 50px;
  --block-height: 50px;
  --block-border-radius: 12px;
  --dev-controls-border-radius: 1em;
}

/* CSS Resets */

* {
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
}

/* Elements */

.container {
  outline: 1px solid orange;
  height: 100%;
  width: min(75%, 900px);
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}

.gameWindow {
  outline: 1px solid green;
  position: relative;
  width: 100%;
  height: 50%;
  flex-grow: 1;
  display: flex;
  gap: 1em;
  z-index: 10000;
}

.dataBlock {
  min-width: var(--block-width);
  min-height: var(--block-height);
  outline: 3px dotted red;
  border-radius: var(--block-border-radius);
}

.visibleBlock {
  position: absolute;
  min-width: var(--block-width);
  min-height: var(--block-height);
  border-radius: var(--block-border-radius);
}

.selected {
  outline: 1px solid red;
}

/* GAME CONTROLS */

.gameControlsContainer {
  outline: 1px solid magenta;
  width: 100%;
}

.flexPropertyBtnContainer {
  display: flex;
  justify-content: center;
}

.flexPropertyValueBtnContainer {
  outline: 1px solid blue;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.flexPropertyValueText {
  margin: 0;
  padding: 4px;
  word-break: keep-all;
}

/* DEV CONTROLS */

.devControls {
  z-index: 10;
  position: absolute;
  height: min-content;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: var(--dev-controls-border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25em;
}

.devControls:hover {
  cursor: pointer;
}

.devControls p {
  color: grey;
  padding: 0px;
  margin: 0;
}

.devControls .flexGroup {
  background: rgba(255, 255, 255, 0.03);
  border-radius: var(--dev-controls-border-radius);
  padding: 4px;
  margin: 5px;
  flex: 1 1 160px;
  min-width: max-content;
  height: fit-content;
}

.devControls .radioButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.devControls .countControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0em;
  gap: 0.5em;
}

.devControls .countButtons {
  display: flex;
  justify-content: space-around;
}

.countButtons button {
  padding: 0.5em 1em;
}