:root {
  --block-width: 50px;
  --block-height: 50px;
  --block-border-radius: 12px;
  --dev-controls-border-radius: 1em;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
}

.blockContainer {
  outline: 1px solid red;
  position: relative;
  margin: 5% auto;
  width: 75%;
  height: 50%;
  display: flex;
  gap: 1em;
}

.dataBlock {
  min-width: var(--block-width);
  min-height: var(--block-height);
  outline: 3px dotted red;
  border-radius: var(--block-border-radius);
}

.visibleBlock {
  position: absolute;
  min-width: var(--block-width);
  min-height: var(--block-height);
  border-radius: var(--block-border-radius);
}

/* GAME CONTROLS */

.gameControlsContainer {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.navTabGroup {
  display: flex;
  gap: 1em;
}

.navTabOptionsGroup {
  
}

.tab1Selected {
  outline: 1px solid red;
}

/* DEV CONTROLS */

.devControls {
  z-index: 10;
  position: absolute;
  height: min-content;
  background: rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: var(--dev-controls-border-radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.25em;
}

.devControls:hover {
  cursor: pointer;
}

.devControls p {
  color: grey;
  padding: 0px;
  margin: 0;
}

.devControls .flexGroup {
  background: rgba(255, 255, 255, 0.03);
  border-radius: var(--dev-controls-border-radius);
  padding: 4px;
  margin: 5px;
  flex: 1 1 160px;
  min-width: max-content;
  height: fit-content;
}

.devControls .radioButtons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.devControls .countControls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 0em;
  gap: 0.5em;
}

.devControls .countButtons {
  display: flex;
  justify-content: space-around;
}

.countButtons button {
  padding: 0.5em 1em;
}
